[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-dotenv = "*"
dj-database-url = "*"
django-admin-rangefilter = "*"
django-dbbackup = "*"
django-sql-explorer = "*"
mysqlclient = "*"
django-admin-actions = "*"

[requires]
python_version = "3.6"
